@media only screen 
  and (max-width: 500px)
  {

    a:link {
        color: white;
    }

    a:visited {
        color: white;
    }

    a:hover {
        opacity: 1.0;
    }

    .copy{
      text-align: left;
      position: absolute;
      margin-top: 50%;
   
    }

    .copy .download-link {
      color: #009ebb;
      font-size: 1.25rem;
      font-weight: 500;
    }

    .copy p {
        margin-bottom: 1.5em;
        font-size: 1.125rem;
        color: #808285;
    }

    .fc-footer {
      background-color: #5c5d60;
      width: 100%;
      height: 90px;
      padding-bottom: 9px;
      margin: 0;
    }

    .fc-header {
      z-index: 10000;
      position: relative;
      /*background-color: purple;*/
      width: 100%;
      height: 100px;
      vertical-align: middle;
      margin: 0;
    }

    .fc-home {
      position: relative;
      box-sizing: border-box;
      background:  url('../images/fc_assets/dbx_blue-01.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
      font-family: "Avenir W02",sans-serif;
      line-height: 1.5;
    }

    .fc-home .main-logo h2 {
      position: absolute;
      font-size: 2rem;
      margin-bottom: .5em;
      margin-top: 50px;
      margin-left: 100px;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
    }

    .fc-home .main-logo h2 span{
      font-weight: 100;
    }


    .height-ease {
        -webkit-transition: height 300ms linear;
        -moz-transition: height 300ms linear;
        -o-transition: height 300ms linear;
        -ms-transition: height 300ms linear;
        transition: height 300ms linear;
    }

    .hero, .copy {
      box-sizing: border-box;
      /*display: block;*/
      width: 72%;
      height: 30%;
      margin-left: 1.5%;
      /*vertical-align: middle;*/
      position: absolute;
      text-align: center;

    }

    .hero{
      padding: 0;
      margin-top: 0;
      /*text-align: center;*/
    }

    .hero img{
      height: 200px;
      border: solid 2px rgba(0,0,0,0.125);
    }

    .landing {
      height: 700px;
      text-align: center;
      color: white;
    }

    .landing h1{
      margin-top: 4em;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 1.5px;
      padding: 20px;
    }

    .landing p{
      margin-top: 0px;
      font-weight: 300;
      font-size: 16px;
      opacity: .75;
      padding: 20px;
    }

    .landing .self-promo-container ul {
      padding: 20px;
    }

    .landing ul li {
      list-style-type: none;
      display: block;
      text-align: center;
      /*padding: 20px;*/
    }
    .landing ul li img {
      height: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .landing ul li h3 {
      display: block;
      vertical-align: top;
      padding: 0px 0px 0 0;
      text-decoration: underline;
      font-size: 15px;
      font-weight: 400;

    }

    .landing h3:hover{
      color: #009ebb;
    }

    .logo-container {
      width: 33%
    }

    .main-logo {
      text-align: left;
      transition: all 0.4s ease;
      height: 100px;
      width: 100px;
      background-color: #c53927;
      color: white;
      position: absolute;
      overflow: hidden;
    }

    .main-logo:hover {
      width: 240px;
      transform: scale(1.1); 
    }

    .main-logo img{
      position: absolute;
      margin-top: 10px;
      margin-left: 12px;
      height: 80%;
    }

    .main-nav {
      width: 100%;
    }

    .main-nav ul {
      text-align: right;
      padding-right: 2em;
    }

    .main-nav ul li {
      text-transform: uppercase;
      list-style-type: none;
      display: inline-block;
      color: white;
      padding: 1em;
      font-weight: 300;
      font-size: 1em;
      opacity: .75;
    }

    .main-nav ul li a{
      text-decoration: none ;
    }

    .main-nav ul li:hover {
      opacity: 1;
    }

    .main-nav ul li .menu-button {
      font-size: 2em;
    }

    .menu-button i {
      border: .075em solid white;
      padding: .25em .5em .25em .5em;
      border-radius: 4px;
    }

    .scroll-header {
      z-index: 10000;
      position: fixed;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      border-bottom: solid 1px rgba(0,0,0,0.125);
      margin: 0;
      overflow: hidden;
    }

    .scroll-header .main-nav ul li a, .scroll-header .main-nav ul li{
      color: gray;
    }

    .scroll-header .main-nav ul li .menu-button i {
      border: .075em solid gray;
    }

    .vert-closed {
      height: 0px;
    }

    .vert-open-100 {
      height: 100px;
    }

    .section {
      background-color: white;
      width: 100%;
      height: 500px;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #5c5d60;;
      font-weight: 200;
      border-bottom: solid 1px rgba(0,0,0,0.125);
      position: relative;

    }

    .section-heading {
      margin-top: 0;
    }

}