
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*p title gray: #949898*/
* {
  padding: 0;
  margin: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.hover:hover {
  cursor: pointer;
}

.container {
  padding: 40px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  /*background:  rgba(15,9,9,0.4);*/
  /*background-color: white;*/
}

.header img{
  margin-left: 2vw;
  top: 0;
  position: absolute;
  height: 150%;
}

.header h2 {
  /*color: gray;*/
  color: white;
  font-size: 1em;
  padding: .5em;
  font-weight: 100;
  margin-left: 15vw;
  float: left;
  opacity: 1;
}

.header a {
  /*color: gray;*/
  color: white;
  float: right;
  text-decoration: none;
  padding: .25em;
  font-size: .75em;
  font-weight: 100;
}

.header a:hover {
  opacity: 1;
}

a.link-selected {
  /*color: red;*/
  color: #DB4C0F;
  /*color: white;*/
}

.nice-home {
  position: relative;
}

.bottom-shade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
    background: -webkit-linear-gradient(transparent, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, black); /* Standard syntax (must be last) */
  opacity: .95;
}


.title {
  /*position: absolute;*/
  margin-top: 10vh;
  /*margin-left: 57vw;*/
  white-space: wrap;
  /*text-shadow: -1px 1px 0px black;*/
  letter-spacing: 3px;
}

.title h1 {
  /*color: white;*/
  color: #2DC0FA;
  font-size: 2.5em;
  font-weight: 400;

}

.sub-title {
  /*position: absolute;*/
  /*float: left;*/
  /*margin-top: 60vh;*/
  /*margin-left: 17vw;*/
  white-space: nowrap;
  text-shadow: -1px 1px 0px black;
}

.sub-title h3 {
  font-size: 1em;
  /*margin-left: 250px;*/
  /*color: #C7FB1C;*/
  /*color: #2DC0FA;*/
  color: #DB0FD7;
  z-index: 6000;
}

.title-container {
  margin-top: 0%;
  height: 100vh;
  text-align: center;
  background:  rgba(15,9,9,0.2);
}

.title-container img {
  padding-top: 15vh;
  height: 50vh;
}

.phil2 {
  padding: 2em;
  /*margin-top: 94vh;*/
  background-color: white;
}

.phil2 h3, .techs-wrapper h3 {
  font-weight: 400;
  font-size: 1.2em;
}

.phil2 p, .techs-wrapper p {
  font-weight: 100;
  font-size: .88em;
  line-height: 1.5;
  padding: 10px;
}

.backer-black {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -2000;
  /*background-color: rgb(35, 244, 223);*/
  background-color: black;
  background-color: gray;
}

.backer-movement-window {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1000;
  text-align: center;
}

.home-backer-stars {
  position: absolute;
  top: 0;
  margin-left: -66%;
  width: 300%;
  height: 100%;
  /*z-index: -1000;*/
  background-image: url("/images/backers/stars1.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.gallery-backer-space1 {
  position: absolute;
  top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  /*z-index: -1000;*/
  /*background-image: url("/images/backers/space1.jpg");*/
  background-image: url("/images/backers/space_moon1.jpg");
  background-image: url("/images/backers/street_double.jpeg");

  /*background-image: url("/images/backers/grass.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}

.gallery-backer-space1 img{
  height: 40vh;
  margin-left: 33%;
  margin-top: 5vw;
}

.gallery-backer-space2 {
  opacity: 0;
  position: absolute;
  top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  /*z-index: -1000;*/
  background-image: url("/images/backers/space_center.jpg");
  background-image: url("/images/backers/space2.jpg");
  background-image: url("/images/backers/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}


.phil2 h3 {
  color: #5C5D59;
  /*font-family: 'Pacifico', cursive;*/
}

.phil2 p {
  color: gray;
}

.techs-wrapper {
  background:  rgba(15,9,9,0.7);
  color: white;
  margin-top: 50vh;
  padding: 2em;
}

.tech-logos {
  width: 100%;
}

.page-title {
  font-size: 1.25em;
}


.gallery-wrapper {
  padding-top: 6vw;
  padding-bottom: 6vw;
  width: 100%;
  background-color: #CFCECE;
}

.gallery-wrapper h1 {
  padding-left: 3em;
  font-weight: 400;
}

.previews-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  margin: 15vw;
  width: 70vw;
  background-color: #E8E8E7;
}

.preview {
  position: relative;
  width: 90%;
  margin-left: 5%;
  height: 44vw;
  margin-top: 16px;
  border-radius: 4px;
  display: block;
  white-space: nowrap;
  vertical-align: top;
  background-color: white;
  overflow: hidden;
}

.preview .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3FB8BF;
  /*background: rgba(25, 198, 184, .84);*/
  background: rgba(15, 171, 219,.84);
  color: white;
  opacity: 0;
}

.preview img {
  position: absolute;
  left: 4%;
  width: 92%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid gray;
}

.preview img.vert {
  left: 50%; 
  height: 90%; 
  width: 40%;
  top: 5%; 
  transform: translateX(-50%);
  border: 1px solid gray;
}

.preview .text:hover {
  opacity: 1;
}

.preview h3 {
  color: white;
  font-size: 1.25em;
  padding: .5em;
  font-weight: 100;
  text-align: center;
}

.preview p {
  font-size: .75em;
  padding: .25em;
  font-weight: 100;
  text-align: center;
}

.preview .text span {
  border: 1px solid white;
  border-radius: 1em;
  padding-top: .125em;
  padding-bottom: .125em;
  padding-left: .25em;
  padding-right: .25em;
}

.slides-wrapper {
  position: relative;
  width: 90vw;
  height: 66vw;
  margin-left: 5%;

}

.slides-wrapper .text {
  margin-top: 10px;
  margin-left: 10%;
  width: 80%;
  /*height: 10%;*/
  background-color: white;
  color: black;

}

.slides-wrapper .text h4{
  font-size: .8em;
}

.slides-wrapper h5 { 
  color: #2DC0FA;
  padding: 10px;
  /*padding-left: 10px;
  padding-right: 10px; */
 }

.slides-wrapper .text p{
  font-size: .64em;
  padding: 10px;
  /*padding-left: 10px;
  padding-right: 10px;*/
}

#slides-buttons {
  position: absolute;
  opacity: .5;
  bottom: 0;
  right: 0;
  font-size: 1em;
  z-index: 1002;
}

.slider {
    width: 90vw;
    height: 60vw;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 5px solid #FFF;
}

.slider img {
  width: 90vw;
  height: 60vw;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow-left{
  position: absolute;
  opacity: .4;
  top: 45%;
  left: 0vw;
  font-size: 2em;
  z-index: 1002;
  background-color: white;
}

.arrow-right{
  position: absolute;
  opacity: .4;
  top: 45%;
  right: 0vw;
  font-size: 2em;
  z-index: 1002;
  background-color: white;
}

.dots-container {
  position: absolute;
  opacity: .7;
  top: 54vw;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1002;
}

.dots {
  display: inline;
  font-size: .5em;
}

.about-intro {
  /*margin-top: 100px;*/
  width: 100vw;
  /*height: 100vh;*/
  /*background-color: #CFCECE;*/
  background:  rgba(15,9,9,0.7);
}

.about-intro .left{
  /*margin-top: 20vh;*/
  vertical-align: top;
  display: block;
  width: 100vw;
  height: 100vw;
  background-color: white;
}
.about-intro .right{
  /*margin-top: 20vh;*/
  vertical-align: top;
  display: inline-block;
  width: 100vw;
  height: 100vw;
  background-image: url("/images/about_pics/mirror-quote.jpeg");
  background-size: auto 100%;
}

.about-intro h1 {
  font-family: 'Pacifico', cursive;
  margin-top: 4vh;
}

.about-intro p {
  font-weight: 100;

}

.icons{
  display: block;
  text-align: center;
}

.icons h2{
  display: inline;
  padding: 40px;
  font-size: 40px;
}

.icons h2 a {
  color: white;
}




.home-backer-bluesky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -2000;
  /*background-color: rgb(35, 244, 223);*/
  background-color: rgba(35, 164, 244, .5);
}


.home-backer-planets {
  position: absolute;
  top: 0;
  margin-left: 0;
  margin-top: 0%;
  width: 100%;
  height: 300%;
  /*height: 100%;*/
  /*z-index: -1000;*/
  background-image: url("/images/backers/planets1.png");
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.landing-wrapper {
  margin-top: 0;
  height: 100vh;
  text-align: center;
}

.landing-wrapper img{
  width: 70vw;
  margin-top: 20vh;
  height: 70vw;
  background-color: white;
  border-radius: 3vw;
}

.landing-wrapper h1{
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  opacity: .7;
}

.contact-container {
  padding: 6em;
  /*background-color: gray;*/
  background-color: #424242;
  height: 80vh;
  text-align: center;
}

.contact-container h3{
  font-size: 2em;
  font-weight: 400;
  padding-top: 20vh;
  margin-bottom: 10vh;
  color: #2DC0FA;
}

@media screen and (max-width:800px) and (min-width:540px)
  {

    .header h2 {
      font-size: 1.25em;
      padding: .5em;
    }

    .header a {
      padding: .65em;
      font-size: .85em;
    }

    .gallery-backer-space1 {
      background-size: auto 100%;
      background-position: 50% 0%;
    }

    .title {
      /*position: absolute;*/
      /*margin-top: 40vh;*/
      /*margin-left: 67vw;*/
      color:white;
      white-space: nowrap;
    }

    .title h1 {
      font-size: 3.6em;
    }

    .sub-title {
      /*position: absolute;*/
      /*float: left;*/
      /*margin-top: 60vh;*/
      /*margin-left: 17vw;*/
      color:white;
      white-space: nowrap;
    }

    .sub-title h3{
      font-size: 1.5em;
    }

    .philosophy-wrapper h1{
      font-size: 1.4em;
    }

    .techs-wrapper {
      padding: 6em;
    }

    .phil2 {
      padding: 6em;
    }

    .phil2 h3, .techs-wrapper h3 {
      font-weight: 400;
      font-size: 1.8em;
    }

    .phil2 p, .techs-wrapper p {
      font-weight: 100;
      font-size: 1em;
      line-height: 1.5;
      padding: 10px;
    }


    .gallery-previews-wrapper h1{
      font-size: 1.1em;
    }
    .gallery-previews-wrapper p{
      font-size: .77em;
    }


    .page-title {
      font-size: 1.6em; 
    }

    .gallery-wrapper {
      padding-top: 6vw;
      padding-bottom: 6vw;
    }

    .previews-wrapper {

      margin: 10vw;
      width: 80vw;
      /*margin-left: 10%;*/
      background-color: #E8E8E7;
    }

    .preview {
      width: 36vw;
      height: 24vw;
      margin-left: 16px;
      margin-top: 16px;
      display: inline-block;
      background-color: white;
      white-space: nowrap;
      border-radius: 4px;
    }

    .slides-wrapper {
      width: 75vw;
      height: 55vw;
      margin-left: 10%;
    }

    #slides-buttons {
      font-size: 1.25em;
    }

    .slides-wrapper .text h4{
      font-size: .9em;
    }

    .slides-wrapper .text p{
      font-size: .72em;
    }

    .slider {
      width: 75vw;
      height: 50vw;
      overflow: hidden;
      position: relative;
      background: #e6e6e6;
      border: 5px solid #FFF;
    }

    .slider img {
      width: 75vw;
      height: 50vw;
      position: absolute;
      top: 0;
      left: 0;
    }


    .arrow-left{
      font-size: 3em;
    }

    .arrow-right{
      font-size: 3em;
    }

    .dots-container {
      top: 45vw;
    }

    .dots {
      display: inline;
      font-size: .65em;
    }

    .about-intro {
      width: 100vw;
      /*height: 100vh;*/
    }

    .about-intro .left{
      display: inline-block;
      width: 50%;
      height: 50vw;
    }
    .about-intro .right{
      display: inline-block;
      width: 50%;
      height: 50vw;
    }

    .about-intro h1 {
      font-family: 'Pacifico', cursive;
      margin-top: 3vh;
    }

    .about-intro p {
      margin-top: 10px;
      font-weight: 100;
      font-size: .88em;

    }

}

@media screen and (min-width:800px)
  {
    /*.header {*/
      /*height: 3em;*/
    /*}*/

    .header h2 {
      font-size: 1.5em;
      padding: .5em;
    }

    .header a {
      padding: .75em;
      font-size: 1em;
    }

    /*.gallery-backer-space1 {
      background-size: 100% auto;
      background-position: 50% 0%;
    }*/
    

    .title {
      /*position: absolute;*/
      /*margin-top: 30vh;*/
      /*margin-left: 57vw;*/
      /*color:white;*/
      /*white-space: nowrap;*/
    }

    .title h1 {
      font-size: 4em;
    }

    .sub-title {
      /*position: absolute;*/
      /*float: left;*/
      /*margin-top: 60vh;*/
      /*margin-left: 17vw;*/
      color:white;
      white-space: nowrap;
    }

    .sub-title h3{
      font-size: 1.5em;
    }

    .landing-wrapper img{
      width: 36vw;
      height: 36vw;
      margin-top: 10vw;
    }

    .landing-wrapper h1{
      font-size: 2em;
    }

    .techs-wrapper {
      padding: 6em;
    }

    .phil2 {
      padding: 6em;
    }

    .phil2 h3, .techs-wrapper h3 {
      font-weight: 400;
      font-size: 2em;
    }

    .phil2 p, .techs-wrapper p {
      font-weight: 100;
      font-size: 1.1em;
      line-height: 1.5;
      padding: 10px;
    }

    .page-title {
      font-size: 1.8em;
      padding: 0;
      border: 0;
      margin: 0;
    }

    .gallery-wrapper {
      padding-top: 6vw;
      padding-bottom: 6vw;
    }

    .previews-wrapper {
      margin-top: 10vw;
      width: 70vw;
      background-color: #E8E8E7;
    }

    .preview {
      width: 32.5vw;
      height: 24vw;
      margin-left: 16px;
      margin-top: 16px;
      display: inline-block;
      background-color: white;
      white-space: nowrap;
      border-radius: 4px;
    }


    .slides-wrapper {
      width: 60vw;
      height: 50vw;
      margin-left: 20%;
    }

    #slides-buttons {
      font-size: 1.5em;
    }

    .slides-wrapper .text h4{
      font-size: 1em;
    }

    .slides-wrapper .text p{
      font-size: .8em;
    }

    .slider {
      width: 60vw;
      height: 40vw;
      overflow: hidden;
      position: relative;
      background: #e6e6e6;
      border: 5px solid #FFF;
    }

    .slider img {
      width: 60vw;
      height: 40vw;
      position: absolute;
      top: 0;
      left: 0;
    }

    .arrow-left{
      font-size: 4em;
    }

    .arrow-right{
      font-size: 4em;
    }

    .dots-container {
      top: 36vw;
    }

    .dots {
      display: inline;
      font-size: .75em;
    }

    .about-intro {
      width: 100vw;
      /*height: 100vh;*/
    }

    .about-intro .left{
      display: inline-block;
      width: 50%;
      height: 50vw;
    }
    .about-intro .right{
      display: inline-block;
      width: 50%;
      height: 50vw;
    }

    .about-intro h1 {
      font-family: 'Pacifico', cursive;
      margin-top: 3vh;
    }

    .about-intro p {
      margin-top: 10px;
      font-weight: 100;
      font-size: .99em;

    }


}

