
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*p title gray: #949898*/
* {
  padding: 0;
  margin: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.hover:hover {
  cursor: pointer;
}

body {
  /*font-family: Verdana, Geneva, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

/*h3 {
  color: #575B5A;
  color: black;
}*/ 

/*p {
  color: white;
  font-size: .77em;
}
*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: white;
  /*background:  rgba(15,9,9,0.4);*/
}

.header img{
  margin-left: 2vw;
  top: 0;
  position: absolute;
  height: 100%;
}

.header h2 {
  color: gray;
  font-size: 1em;
  padding: .5em;
  font-weight: 100;
  margin-left: 15vw;
  float: left;
  opacity: 1;
}

.header a {
  color: gray;
  float: right;
  text-decoration: none;
  padding: .25em;
  font-size: .75em;
}

.header a:hover {
  opacity: 1;
}

a.link-selected {
  color: red;
}

.nice-home {
  position: relative;
}

.title {
  position: absolute;
  margin-top: 40vh;
  margin-left: 57vw;
  color:white;
  white-space: wrap;
  text-shadow: -4px 4px 0px black;
  letter-spacing: 3px;
}

.title h1 {
  font-size: 2.5em;
  margin-left: -120px;
  font-weight: 400;
}

.sub-title {
  position: absolute;
  float: left;
  margin-top: 60vh;
  margin-left: 17vw;
  white-space: nowrap;
  text-shadow: -1px 1px 0px black;
}

.sub-title h3 {
  font-size: 1em;
  margin-left: 50px;
  color: #C7FB1C;
}

.phil2 {
  padding: 4em;
  margin-top: 94vh;
  background-color: white;
}

.doors-movement-window {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2000;
}

.doors-movement-window .left-door {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100vh;
  background-image: url("/images/backers/skydoorleft.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
}
.doors-movement-window .right-door {
  position: absolute;
  margin-left: 50%;
  width: 50%;
  height: 100vh;
  background-image: url("/images/backers/skydoorright.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-size: cover;
  background-position: 0% 0%;
}

.home-backer-bluesky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -2000;
  /*background-color: rgb(35, 244, 223);*/
  background-color: rgba(35, 164, 244, .5);
}

.gallery-backer-black {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -2000;
  /*background-color: rgb(35, 244, 223);*/
  background-color: black;
}

.backer-movement-window {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1000;
}

.home-backer-stars {
  position: absolute;
  top: 0;
  margin-left: -66%;
  width: 300%;
  height: 100%;
  /*z-index: -1000;*/
  background-image: url("/images/backers/stars1.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.gallery-backer-space1 {
  position: absolute;
  top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  /*z-index: -1000;*/
  background-image: url("/images/backers/space1.jpg");
  background-image: url("/images/backers/space_moon1.jpg");
  /*background-image: url("/images/backers/grass.jpg");*/
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 0%;
}

.gallery-backer-space2 {
  opacity: 0;
  position: absolute;
  top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  /*z-index: -1000;*/
  background-image: url("/images/backers/space_center.jpg");
  background-image: url("/images/backers/space2.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 0%;
}

.home-backer-planets {
  position: absolute;
  top: 0;
  margin-left: 0;
  margin-top: 0%;
  width: 100%;
  height: 300%;
  /*height: 100%;*/
  /*z-index: -1000;*/
  background-image: url("/images/backers/planets1.png");
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.landing-wrapper {
  margin-top: 0;
  height: 100vh;
  text-align: center;
}

.landing-wrapper img{
  width: 70vw;
  margin-top: 20vh;
  height: 70vw;
  background-color: white;
  border-radius: 3vw;
}

.landing-wrapper h1{
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  opacity: .7;
}

.philosophy-wrapper {
  /*background:  rgba(15,9,9,0.4);*/
  color: black;
  background-color: white;
  margin-top: 50vh;
  width: 50%;
  padding: 5%;
  border-radius: 4em;
  box-shadow: 5px 5px 5px black;
}

.philosophy-wrapper h1{
  font-size: 1em;
  color: orange;
}

.phil2 h3 {
  color: #5C5D59;
}

.phil2 p {
  color: gray;
}

.philosophy-wrapper p{
  font-size: .7em;
}

.techs-wrapper {
  background:  rgba(15,9,9,0.7);
  color: white;
  margin-top: 50vh;
  padding: 10%;
}

.tech-logos {
  width: 100%;
}

.page-title {
  font-size: 1.25em;
}


.gallery-wrapper {
  padding-top: 6vw;
  padding-bottom: 6vw;
  width: 100%;
  background: white;
}

.previews-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  margin: 15vw;
  width: 70vw;
  background-color: #E8E8E7;
}

.preview {
  position: relative;
  width: 90%;
  margin-left: 5%;
  height: 44vw;
  margin-top: 16px;
  border-radius: 4px;
  display: block;
  white-space: nowrap;
  vertical-align: top;
  background-color: white;
  overflow: hidden;
}

.preview .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3FB8BF;
  color: white;
  opacity: 0;
}

.preview img {
  position: absolute;
  left: 4%;
  width: 92%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid gray;
}

.preview img.vert {
  left: 50%; 
  height: 90%; 
  width: 40%;
  top: 5%; 
  transform: translateX(-50%);
  border: 1px solid gray;
}

.preview .text:hover {
  opacity: .85;
}

.preview h3 {
  color: white;
  font-size: 1.25em;
  padding: .5em;
  font-weight: 100;
  text-align: center;
}

.preview p {
  font-size: .75em;
  padding: .25em;
  font-weight: 100;
  text-align: center;
}

.preview .text span {
  border: 1px solid white;
  border-radius: 1em;
  padding-top: .125em;
  padding-bottom: .125em;
  padding-left: .25em;
  padding-right: .25em;
}

.slides-wrapper {
  position: relative;
  width: 90vw;
  height: 66vw;
  margin-left: 5%;
}

.slides-wrapper .text {
  width: 80%;
  height: 10%;
}

.slides-wrapper .text h4{
  font-size: .8em;
}

.slides-wrapper .text p{
  font-size: .64em;
}

#slides-buttons {
  position: absolute;
  opacity: .5;
  bottom: 0;
  right: 0;
  font-size: 1em;
  z-index: 1002;
}

.slider {
    width: 90vw;
    height: 60vw;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 5px solid #FFF;
}

.slider img {
  width: 90vw;
  height: 60vw;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow-left{
  position: absolute;
  opacity: .4;
  top: 45%;
  left: 0vw;
  font-size: 2em;
  z-index: 1002;
  background-color: white;
}

.arrow-right{
  position: absolute;
  opacity: .4;
  top: 45%;
  right: 0vw;
  font-size: 2em;
  z-index: 1002;
  background-color: white;
}

.dots-container {
  position: absolute;
  opacity: .7;
  top: 54vw;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1002;
}

.dots {
  display: inline;
  font-size: .5em;
}

.about {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 100vw;
  z-index: 1002;
  background-color: gray;
}

.intro {
  width:100%;
  margin-top: 8vw;
}

.intro-text{
  display: block;
  width: 80vw;
  margin-left: 0;
  text-align: left;
}

.intro .intro-text h1{
  font-size: 1em;
  margin-bottom: .66em;
  font-weight: 600;

}

.intro-text .professional{
  font-size: .7em;
  margin-bottom: .66em;
  font-weight: 300;

}

.intro-text .fun{
  font-size: .65em;
  font-weight: 300;

}

.my-pic {
  display: block;
}

.my-pic img{
  display: block;
  width: 42vw;
  height: 45vw;
  margin-left: 20vw;
  border-radius: 8vw;
  margin-top: 10vw;
}

.hobbies-wrapper {
  width: 100%;
  margin-top: 2vw;
}

.hobbies-wrapper img{
  display: block;
  width: 30%;
}

@media screen and (max-width:800px) and (min-width:540px)
  {

    .header h2 {
      font-size: 1.25em;
      padding: .5em;
    }

    .header a {
      padding: .65em;
      font-size: .85em;
    }

    .gallery-backer-space1 {
      background-size: auto 100%;
      background-position: 50% 0%;
    }

    .title {
      position: absolute;
      margin-top: 40vh;
      margin-left: 67vw;
      color:white;
      white-space: nowrap;
    }

    .title h1 {
      font-size: 3.6em;
    }

    .sub-title {
      position: absolute;
      float: left;
      margin-top: 60vh;
      margin-left: 17vw;
      color:white;
      white-space: nowrap;
    }

    .sub-title h3{
      font-size: 1.5em;
    }

    /*.landing-wrapper{
      text-align: center;
    }*/
  
    .landing-wrapper img{
      width: 40vw;
      height: 40vw;
      margin-top: 13vh;
    }

    .landing-wrapper h1{
      font-size: 1.7em;
    }

    .philosophy-wrapper {
      padding: 5%;
    }

    .philosophy-wrapper h1{
      font-size: 1.4em;
    }


    .gallery-intro-wrapper h1{
      font-size: 1.1em;
    }

    .gallery-intro-wrapper p{
      font-size: .77em;
      font-weight: 100;
    }

    .philosophy-wrapper p{
      font-size: .8em;
    }

    .techs-wrapper {
      padding: 5%
    }

    .techs-wrapper h1{
      font-size: 1.4em;
    }

    .techs-wrapper p{
      font-size: .8em;
    }


    .gallery-previews-wrapper h1{
      font-size: 1.1em;
    }
    .gallery-previews-wrapper p{
      font-size: .77em;
    }


    .page-title {
      font-size: 1.6em; 
    }

    .gallery-wrapper {
      padding-top: 6vw;
      padding-bottom: 6vw;
    }

    .previews-wrapper {

      margin: 10vw;
      width: 80vw;
      /*margin-left: 10%;*/
      background-color: #E8E8E7;
    }

    .preview {
      width: 36vw;
      height: 24vw;
      margin-left: 16px;
      margin-top: 16px;
      display: inline-block;
      background-color: white;
      white-space: nowrap;
      border-radius: 4px;
    }

    .slides-wrapper {
      width: 75vw;
      height: 55vw;
      margin-left: 10%;
    }

    #slides-buttons {
      font-size: 1.25em;
    }

    .slides-wrapper .text h4{
      font-size: .9em;
    }

    .slides-wrapper .text p{
      font-size: .72em;
    }

    .slider {
      width: 75vw;
      height: 50vw;
      overflow: hidden;
      position: relative;
      background: #e6e6e6;
      border: 5px solid #FFF;
    }

    .slider img {
      width: 75vw;
      height: 50vw;
      position: absolute;
      top: 0;
      left: 0;
    }


    .arrow-left{
      font-size: 3em;
    }

    .arrow-right{
      font-size: 3em;
    }

    .dots-container {
      top: 45vw;
    }

    .dots {
      display: inline;
      font-size: .65em;
    }


    .intro-text {
      display: inline;
      float: left;
    }

    .my-pic img {
      display: inline;
      float: left;
      width: 28vw;
      height: 30vw;
      margin-left: 10vw;
      border-radius: 60vw;
      margin-top: 0;
    }


    .intro-text{
      display: block;
      width: 34vw;
      margin-left: 0;
      text-align: left;
    }

    .intro .intro-text h1{
      font-size: 1.1em;
      margin-bottom: .5em;
      font-weight: 800;

    }

    .intro-text .professional{
      font-size: .8em;
      margin-bottom: 1em;
    }

    .intro-text .fun{
      font-size: .7em;
    }

    .hobbies-wrapper {
      margin-top: 2vw;
    }

    .hobbies-wrapper img{
      display: inline;
      width: 19%;
      margin-left: 1%;
      
    }


}

@media screen and (min-width:800px)
  {
    /*.header {*/
      /*height: 3em;*/
    /*}*/

    .header h2 {
      font-size: 1.5em;
      padding: .5em;
    }

    .header a {
      padding: .75em;
      font-size: 1em;
    }

    .gallery-backer-space1 {
      background-size: auto 100%;
      background-position: 50% 0%;
    }
    

    .title {
      position: absolute;
      margin-top: 40vh;
      margin-left: 57vw;
      color:white;
      white-space: nowrap;
    }

    .title h1 {
      font-size: 4em;
    }

    .sub-title {
      position: absolute;
      float: left;
      margin-top: 60vh;
      margin-left: 17vw;
      color:white;
      white-space: nowrap;
    }

    .sub-title h3{
      font-size: 1.5em;
    }


     /*.landing-wrapper{
      text-align: center;
    }*/

    .landing-wrapper img{
      width: 36vw;
      height: 36vw;
      margin-top: 10vw;
    }

    .landing-wrapper h1{
      font-size: 2em;
    }

    .philosophy-wrapper {
      padding: 5%;
    }

    .philosophy-wrapper h1{
      font-size: 1.8em;
    }

    .philosophy-wrapper p{
      font-size: .9em;
    }


    .gallery-intro-wrapper h1{
      font-size: 1.1em;
    }

    .gallery-intro-wrapper p{
      font-size: .77em;
    }


    .techs-wrapper {
      padding: 5%
    }

    .techs-wrapper h1{
      font-size: 1.1em;
    }

    .techs-wrapper p{
      font-size: .77em;
    }

    .gallery-previews-wrapper h1{
      font-size: 1.1em;
    }
    .gallery-previews-wrapper p{
      font-size: .77em;
    }

    .page-title {
      font-size: 1.8em;
      padding: 0;
      border: 0;
      margin: 0;
    }


    .gallery-wrapper {
      padding-top: 6vw;
      padding-bottom: 6vw;
    }

    .previews-wrapper {

      margin: 15vw;
      width: 70vw;
      /*margin-left: 10%;*/
      background-color: #E8E8E7;
    }

    .preview {
      width: 32.5vw;
      height: 24vw;
      margin-left: 16px;
      margin-top: 16px;
      display: inline-block;
      background-color: white;
      white-space: nowrap;
      border-radius: 4px;
    }


    .slides-wrapper {
      width: 60vw;
      height: 50vw;
      margin-left: 20%;
    }

    #slides-buttons {
      font-size: 1.5em;
    }

    .slides-wrapper .text h4{
      font-size: 1em;
    }

    .slides-wrapper .text p{
      font-size: .8em;
    }

    .slider {
      width: 60vw;
      height: 40vw;
      overflow: hidden;
      position: relative;
      background: #e6e6e6;
      border: 5px solid #FFF;
    }

    .slider img {
      width: 60vw;
      height: 40vw;
      position: absolute;
      top: 0;
      left: 0;
    }

    .arrow-left{
      font-size: 4em;
    }

    .arrow-right{
      font-size: 4em;
    }

    .dots-container {
      top: 36vw;
    }

    .dots {
      display: inline;
      font-size: .75em;
    }

    .my-pic img {
      display: inline;
      float: left;
      width: 28vw;
      height: 30vw;
      margin-left: 10vw;
      border-radius: 60vw;
      margin-top: 0;
    }

    .intro-text{
      float: left;
      display: inline;
      width: 34vw;
      margin-left: 0;
      text-align: left;
    }

    .intro .intro-text h1{
      font-size: 2em;
      margin-bottom: 1em;
    }

    .intro-text .professional{
      font-size: .95em;
      margin-bottom: 1em;
    }

    .intro-text .fun{
      font-size: .8em;
    }

    .hobbies-wrapper img{
      display: inline;
      width: 19%;
      margin-left: 1%;
      margin-top: 0;
    }

    /*#red, #yellow, #green, #blue {
      width: 25%;
      display: inline-block;
      white-space: nowrap;
    }*/

  .gallery-doors {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8000;
    width: 100%;
    height: 100vh;
  }

  .gallery-previews-wrapper {
    z-index: 7000;
    position: absolute;
  }

  #left {
    position: absolute;
    margin-top: -.25%;
    margin-left: 0%;
    width: 50%;
    height: 100vh;
    background-image: url("/images/backers/door-left.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
    background-position: 100% 0%;
  }
  #right {
    position: absolute;
    margin-left: 50%;
    width:50%;
    height: 100vh;
    background-image: url("/images/backers/door-right.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
    background-position: 0% 0%;
  }

  .gallery-doors h5 {
    position: absolute;
    margin-top: 70vh;
    color: white;
    margin-left: 45%; 
    font-weight: 100;  
    border: 1px solid white;
    opacity: .5;
    padding-left: .25em; 
    padding-right: .25em; 
    border-radius: .25em;
  }





}

