* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

.header {
  width: 100%;
  height: 2.25em;
}

.header h2 {
  font-size: 1em;
  padding: .5em;
  font-weight: 100;
  float: left;
}

.header a {
  float: right;
  text-decoration: none;
  padding: .25em;
  font-size: .75em;
  opacity: .5;
}

.header a:hover {
  opacity: 1;
}

.selected-class-name {
  color: red;
}

.main-logo-wrapper {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  height: 50vw;
  /*border: .5em solid black;*/
  border: 1vw solid black;
}

.main-logo-wrapper img{
  width: 66%;
  margin-left: 16.5%;
  margin-top: 16.5%;
}

.previews-wrapper {
  width: 60%;
  margin-left: 20%;
}

.preview {
  position: relative;
  width: 100%;
  height: 150px;
  display: block;
  white-space: nowrap;
  vertical-align: top;
  border: 1px solid gray;
  overflow: hidden;
}

.preview .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  opacity: 0;
}

.preview img {
  position: absolute;
  left: 4%;
  width: 92%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid gray;
}

.preview img.vert {
  left: 50%; 
  height: 90%; 
  width: 50%;
  top: 5%; 
  transform: translateX(-50%);
  border: 1px solid gray;
}

.preview .text:hover {
  opacity: .75;
}

.preview h3 {
  font-size: 1.25em;
  padding: .5em;
  font-weight: 100;
  text-align: center;
}

.preview p {
  font-size: .75em;
  padding: .25em;
  font-weight: 100;
  text-align: center;
}

.preview .text span {
  border: 2px solid white;
  border-radius: 1em;
  padding: .5em;
}

.preview .text span:hover {
  cursor: pointer;
}




@media screen and (max-width:800px) and (min-width:540px)
  {
    .header {
      height: 2.75em;
    }

    .header h2 {
      font-size: 1.25em;
      padding: .5em;
    }

    .header a {
      padding: .65em;
      font-size: .85em;
    }

    .main-logo-wrapper {
      width: 33%;
      margin-left: 33%;
      margin-top: 100px;
      height: 33vw;
      /*border: .8em solid black;*/
    }

    .previews-wrapper {
      width: 80%;
      margin-left: 10%;
    }

    .preview {
      width: 48%;
      height: 200px;
      display: inline-block;
      white-space: nowrap;

    }
}

@media screen and (min-width:800px)
  {
    .header {
      height: 3em;
    }

    .header h2 {
      font-size: 1.5em;
      padding: .5em;
    }

    .header a {
      padding: .75em;
      font-size: 1em;
    }

    .main-logo-wrapper {
      width: 33%;
      margin-left: 33%;
      margin-top: 100px;
      height: 33vw;
      /*border: 1em solid black;*/
    }

    .previews-wrapper {
      width: 80%;
      margin-left: 10%;
    }

    .preview {
      width: 32%;
      height: 220px;
      display: inline-block;
      white-space: nowrap;
    }

    

    /*#red, #yellow, #green, #blue {
      width: 25%;
      display: inline-block;
      white-space: nowrap;
    }*/
}

