
<!-- <div class='home-backer'>
</div> -->
<div class='home-backer-bluesky'>
</div>
<div class='backer-movement-window'>
  <div class='home-backer-stars' ng-style="styleFlowHoriz">
  </div>
  <div class='home-backer-planets' ng-style="styleFlowVert">
  </div>
</div>

<div class='philosophy-wrapper'>
  <h1>About Me</h1>
  <p>DIY etsy pickled waistcoat, normcore pinterest pabst biodiesel chicharrones sriracha. Freegan sustainable PBR&B cold-pressed mixtape chartreuse before they sold out pour-over, migas VHS art party gastropub cliche ethical. Raw denim stumptown ethical sriracha flannel. Messenger bag retro mustache 8-bit. Before they sold out cardigan salvia pabst, food truck listicle pop-up polaroid try-hard. </p>
</div>
<div class='techs-wrapper'>
  <h1> Technologies </h1>
  <p>DIY etsy pickled waistcoat, normcore pinterest pabst biodiesel chicharrones sriracha.</p>
  <img class='tech-logos' src="/images/backers/tech-logos.png">
</div>

<div class='about'>
  <div class='intro group'>
    <div class='intro-text'>
      <h1> about me </h1>
      <p class='professional'> I'm a Full-Stack developer with experience in HTML, CSS, Angular,  Express, Node, Rails, MongoDB, PostgreSQL, SQLite and more. 
      </p>
      <p class='fun'>When I'm not coding, I enjoy hanging with my friends, grillin some tasty food, getting outside(camping, rockclimbing, paddleboarding, skiing), turning a wrench(car restoration), and a very wide variety of music.  
      </p>
    </div>
    <div class='my-pic'>
      <img src='/images/about_pics/selfie.png'>
    </div> 
  </div>
  <div class='hobbies-wrapper'>
    <img src='/images/about_pics/friends.jpg'
    ><img src='/images/about_pics/grillin.jpg'
    ><img src='/images/about_pics/horses.png'
    ><img src='/images/about_pics/ghia.jpg'
    ><img src='/images/about_pics/volbeat.jpeg'>
  </div>
</div>
<div class='landing-wrapper'>
  <!-- <img src="images/logo_bw.png"> -->
  <!-- <img src="images/logo_kth_outline.png"> -->
  <!-- <img src="images/logo-color.png"> -->
  <img src="images/logo_border.png">
  <h1>klint-the-human</h1>
</div>