<div class='about'>
  <div class='intro group'>
    <div class='intro-text'>
      <h1> about me </h1>
      <p class='professional'> I'm a Full-Stack developer with experience in HTML, CSS, Angular,  Express, Node, Rails, MongoDB, PostgreSQL, SQLite and more. 
      </p>
      <p class='fun'>When I'm not coding, I enjoy hanging with my friends, grillin some tasty food, getting outside(camping, rockclimbing, paddleboarding, skiing), turning a wrench(car restoration), and a very wide variety of music.  
      </p>
    </div>
    <div class='my-pic'>
      <img src='/images/about_pics/selfie.png'>
    </div> 
  </div>
  <div class='hobbies-wrapper'>
    <img src='/images/about_pics/friends.jpg'
    ><img src='/images/about_pics/grillin.jpg'
    ><img src='/images/about_pics/horses.png'
    ><img src='/images/about_pics/ghia.jpg'
    ><img src='/images/about_pics/volbeat.jpeg'>
  </div>
</div>