<div class='gallery-backer-black'>
</div>
<div class='backer-movement-window'>
  <div class='gallery-backer-space1' ng-style="styleFadeOut">
  </div>
  <div class='gallery-backer-space2' ng-style="styleFadeIn">
  </div>
  <div class='sub-title'  ng-style="styleFlowHorizSubTitle">
    <h3>Web Developer+</h3>
  </div>
  <div class='title'  ng-style="styleFlowHorizTitle">
    <h1>&lt;klint-the-human&gt;</h1>
  </div>
</div>
<div class='phil2'>
  <h3>Web Developer+</h3>
  <p>DIY etsy pickled waistcoat, normcore pinterest pabst biodiesel chicharrones sriracha. Freegan sustainable PBR&B cold-pressed mixtape chartreuse before they sold out pour-over, migas VHS art party gastropub cliche ethical. Raw denim stumptown ethical sriracha flannel. Messenger bag retro mustache 8-bit. Before they sold out cardigan salvia pabst, food truck listicle pop-up polaroid try-hard.</p>
</div>
<div class='techs-wrapper'>
  <h3> Technologies </h3>
  <p>DIY etsy pickled waistcoat, normcore pinterest pabst biodiesel chicharrones sriracha.</p>
  <img class='tech-logos' src="/images/backers/tech-logos.png">
</div>