<h1>Know more about your future UX Designer.</h1>
<p>I have the skills to help power your user experience.</p>
<div class= 'self-promo-container'>
  <ul>
    <li>
      <img src="./images/fc_assets/kth_resume_icon.png">
      <a ui-sref="fc.resume"><h3>Resume</h3></a>
    </li>
    <li>
      <img src="./images/fc_assets/kth_intro_icon.png">  
      <a href=''><h3>Cover Letter</h3></a>
    </li>
    <li>
      <img src="./images/fc_assets/kth_card_icon.png">
      <a ui-sref="fc.card"><h3>Business Card</h3></a>
    </li>
  </ul>
</div>
