

  <div class= 'fc-home' ng-controller='fcController'>
    <div class="main-header">
      <div class='main-logo'>
        <img src="./images/fc_assets/logo_kth_redC53927white-01.png" >
        <h2>
          Klint<span>-The-Human</span>
        </h2>
      </div>
      <div class="main-nav">
        <ul>
          <li><a href="/home">main site</a></li>
          <li>
            <div class='menu-button'>
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    <div class='content'>
      <div ui-view></div>


    </div>
    
    
  </div>


