
<!-- <div class='home-backer'>
</div> -->
<div class='home-backer-bluesky'>
</div>
<div class='backer-movement-window'>
  <div class='home-backer-stars' ng-style="styleFlowHoriz">
  </div>
  <div class='home-backer-planets' ng-style="styleFlowVert">
  </div>
</div>
<div class='landing-wrapper'>
  <!-- <img src="images/logo_bw.png"> -->
  <!-- <img src="images/logo_kth_outline.png"> -->
  <!-- <img src="images/logo-color.png"> -->
  <img src="images/logo_border.png">
  <h1>klint-the-human</h1>
</div>
<div class='philosophy-wrapper'>
  <h1>Web Developer+</h1>
  <p>DIY etsy pickled waistcoat, normcore pinterest pabst biodiesel chicharrones sriracha. Freegan sustainable PBR&B cold-pressed mixtape chartreuse before they sold out pour-over, migas VHS art party gastropub cliche ethical. Raw denim stumptown ethical sriracha flannel. Messenger bag retro mustache 8-bit. Before they sold out cardigan salvia pabst, food truck listicle pop-up polaroid try-hard. </p>
</div>
<div class='techs-wrapper'>
  <h1> Technologies </h1>
  <p>DIY etsy pickled waistcoat, normcore pinterest pabst biodiesel chicharrones sriracha.</p>
  <img class='tech-logos' src="/images/backers/tech-logos.png">
</div>