<div class='portfolio-backer'>
</div>
<div class='doors-movement-window'>
  <div class='left-door' ng-style='styleDoorLeft'>
  </div>
  <div class='right-door' ng-style='styleDoorRight'>
  </div>
</div>
<div class='gallerie-intro-wrapper'>
  <h1> Gallerie </h1>
  <p>DIY etsy pickled waistcoat, normcore pinterest pabst biodiesel chicharrones sriracha. Freegan sustainable PBR&B cold-pressed mixtape chartreuse before they sold out pour-over, migas VHS art party gastropub cliche ethical. Raw denim stumptown ethical sriracha flannel. Messenger bag retro mustache 8-bit. Before they sold out cardigan salvia pabst, food truck listicle pop-up polaroid try-hard. </p>
</div>
<div class='gallerie-dyn-wrapper'>
  <div class='previews-wrapper' ng-show='showPreviewsWrapper' >
    <h1 class='page-title'>Portfolio</h1>
    <div class='preview'>
      <img src="images/upnote/upnote_landing.png">
      <div class='text' >
        <h3>Upnote </h3>
        <p>Ruby<br>Rails<br>SQLite3<br><br><br><span class='hover' ng-click="showSlidesWindow(0)">View slides</span></p>

      </div>
    </div>
    <div class='preview'>
      <img src="images/geo_planner/geo-landing.png">
      <div class='text'>
        <h3>GEO Planner</h3>
        <p>Javascript<br>Express<br>MongoDB<br>Angular<br>Google Maps API<br><br><br><span class='hover' ng-click="showSlidesWindow(1)">View slides</span></p>
      </div>
    </div>
    <div class='preview'>
      <img src="images/flyers_forum/flyers_landing.png">
      <div class='text'>
        <h3>Flyers Forum</h3>
        <p>Ruby<br>Rails<br>SQLite3<br><br><br><span class='hover' ng-click="showSlidesWindow(2)">View slides</span></p>
      </div>
    </div>
    <div class='preview'>
      <img src="images/rocket/rocket_success.png">
      <div class='text'>
        <h3>Rocket</h3>
        <p>Javascript<br>Express<br>MongoDB<br>jQuery<br><br><br><span class='hover' ng-click="showSlidesWindow(3)">View slides</span></p>
      </div>
    </div>
    <div class='preview'>
      <img class='vert' src="images/agent/agent_sq2.png" >
      <div class='text'>
        <h3>Agent</h3>
        <p>Xcode<br>Swift<br><br><br><span class='hover' ng-click="showSlidesWindow(4)">View slides</span></p>
      </div>
    </div>
    <div class='preview'>
      <img src="images/nyt-top-ten/nyt_sample.jpg">
      <div class='text'>
        <h3>NYT List</h3>
        <p>Javascript<br>Express/NYT API<br><br><br><span class='hover' ng-click="showSlidesWindow(5)">View slides</span></p>
      </div>
    </div>
  </div>
  <div class='slides-wrapper' ng-show='showSlidesWrapper'>
    <h1 class='page-title'> Portfolio </h1>
    <div class="slider">
      <img ng-repeat="slide in slides"  class="slide-animation"
          ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
      <i class="fa fa-angle-left  arrow-left hover"  ng-click="prevSlide()"></i>
      <i class="fa fa-angle-right arrow-right hover" ng-click="nextSlide()"></i>
      <div class='dots-container'>
        <div class='dots' ng-repeat="slide in slides">
          <i class="fa fa-circle" ng-hide="isCurrentSlideIndex($index)"></i>
          <i class="fa fa-circle-thin" ng-hide="!isCurrentSlideIndex($index)"></i>
        </div>
      </div>  
    </div>
    <div class='text'>
      <p ng-repeat="slide in slides" ng-class="{'active':isCurrentSlideIndex($index)}" ng-hide="!isCurrentSlideIndex($index)">{{slide.description}}</p>
    </div>
    <h6 class="hover" ng-click='hideSlidesWindow()'>back</h6>
  </div>
</div>