<h1> Portfolio </h1>
<div class='previews-wrapper'>
  <div class='preview'>
    <img src="images/flyers_landing.png">
    <div class='text'>
      <h3>Flyers Forum</h3>
      <p>Ruby<br>Rails<br>SQLite3</p>
    </div>
  </div>
  <div class='preview'>
    <img src="images/geo_home.png">
    <div class='text'>
      <h3>GEO Planner</h3>
      <p>Javascript<br>Express<br>MongoDB<br>Angular<br>Google Maps API</p>
    </div>
  </div>
  <div class='preview'>
    <img src="images/upnote_home.png">
    <div class='text'>
      <h3>UpNote</h3>
      <p>Ruby<br>Rails<br>SQLite3</p>
    </div>
  </div>
  <div class='preview'>
    <img src="images/rocket_home.png">
    <div class='text'>
      <h3>Rocket</h3>
      <p>Javascript<br>Express<br>MongoDB<br>jQuery</p>
    </div>
  </div>
  <div class='preview'>
    <img class='vert' src="images/agent_sq2.png" >
    <div class='text'>
      <h3>Agent</h3>
      <p>Xcode<br>Swift</p>
    </div>
  </div>
  <div class='preview'>
    <img src="images/nyt_home.png">
    <div class='text'>
      <h3>NYT List</h3>
      <p>Javascript<br>Express/NYT API
    </div>
  </div>
</div>