<div class='previews-wrapper' ng-show='showPreviewsWrapper' >
  <h1 class='page-title'>Portfolio</h1>
  <div class='preview'>
    <img src="images/flyers_landing.png">
    <div class='text' >
      <h3>Flyers Forum </h3>
      <p>Ruby<br>Rails<br>SQLite3<br><br><br><span class='hover' ng-click="slidesShow(0)">View slides</span></p>

    </div>
  </div>
  <div class='preview'>
    <img src="images/geo_home.png">
    <div class='text'>
      <h3>GEO Planner</h3>
      <p>Javascript<br>Express<br>MongoDB<br>Angular<br>Google Maps API<br><br><br><span class='hover' ng-click="slidesShow(1)">View slides</span></p>
    </div>
  </div>
  <div class='preview'>
    <img src="images/upnote_home.png">
    <div class='text'>
      <h3>UpNote</h3>
      <p>Ruby<br>Rails<br>SQLite3<br><br><br><span class='hover' ng-click="slidesShow(2)">View slides</span></p>
    </div>
  </div>
  <div class='preview'>
    <img src="images/rocket_home.png">
    <div class='text'>
      <h3>Rocket</h3>
      <p>Javascript<br>Express<br>MongoDB<br>jQuery<br><br><br><span class='hover' ng-click="slidesShow(3)">View slides</span></p>
    </div>
  </div>
  <div class='preview'>
    <img class='vert' src="images/agent_sq2.png" >
    <div class='text'>
      <h3>Agent</h3>
      <p>Xcode<br>Swift<br><br><br><span class='hover' ng-click="slidesShow(4)">View slides</span></p>
    </div>
  </div>
  <div class='preview'>
    <img src="images/nyt_home.png">
    <div class='text'>
      <h3>NYT List</h3>
      <p>Javascript<br>Express/NYT API<br><br><br><span class='hover' ng-click="slidesShow(5)">View slides</span></p>
    </div>
  </div>
</div>
<div class='slides-wrapper' ng-show='showSlidesWrapper'>
  <h1 class='page-title'> Portfolio </h1>
  <div class='slide-window'>
    <div class='slide-carousel' ng-style="carouselStyle">
      <img src="images/flyers_landing.png">
      <img src="images/flyers3.png">
      <img src="images/flyers4.png">
    </div>
  </div>
  <div class='text'>
    <h4> Title </h4>
    <p> a paragraph </p>
  </div>
  <h1 id='slides-buttons'>
    <i class="fa fa-play-circle-o" ng-click="rotateCarousel('play')"></i>
    <i class="fa fa-pause-circle-o" ng-click="rotateCarousel('pause')"></i>
    <i class="fa fa-times hover" ng-click='hideSlides()'></i>
  </h1>
</div>